# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
build/
dist/
*.egg-info/
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environments
.env

# Legacy Data Folder
SG_sample_images/
SG_sample_images_old/
test_out.log
demo_ui/do_refactor*.py
demo_ui/find_indices.py
demo_ui/refactor.py
